{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static "dashboard/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "dashboard/css/leaflet.css" %}">
  <script src="{% static "dashboard/js/leaflet.js" %}"></script>
{% endblock %}

{% block main %}
<div class="contentpanel">

  <ol class="breadcrumb breadcrumb-quirk">
    <li><a href="{% url 'index'%}"><i class="fa fa-home mr5"></i> Dashboard</a></li>
    <li><a href="{% url 'topics-view'%}"><i class="fa fa-alert"></i>Temas Musicfans</a></li>
    <li class="active">Detalle del Tema</li>
  </ol>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">Detalle de Tema</h4>
    </div>
    <div class="panel-body">
      <div id="donut-summary" class="body-chart"></div>
      <div class="col-md-12 col-lg-12 dash-right">
        <div class="row">
          <ul class="col-sm-12" id="perfil">
            <li class='media col-sm-12'>
              <div class='media-left'>
                <a href='#'>
                  <img class='media-object img-circle' src='{{user.image}}' alt=''>
                </a>
              </div>
              <div class='media-body'>
                <h4 class="panel-title">Pregunta</h4></br>
                <h4 class='media-heading nomargin'><a target='_blank' href='{{topic.link}}'>{{topic.title}}</a></h4><br>
                <span>Fecha de publicación: <strong>{{topic.pubdate}}</strong></span><br><br>
                <span>Autor: <strong><a target='_blank' href='{{topic.author_link}}'>{{topic.author}}</a></strong></span><br><br>
                {% for category in topic.categories %}
                  <span class="label label-primary">{{category}}</span>
                {% endfor %}
                <p>{{topic.description|safe}}</p></br>
                <h4 class="panel-title">Respuestas</h4></br>
                {% for response in topic.responses %}
                <div class="panel-group" id="accordion3">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}" class="collapsed">{{response.title}}</a>
                      </h4>
                    </div>
                    <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <span>Fecha de publicación: <strong>{{response.pubdate}}</strong></span><br>
                        <p>{{response.summary|safe}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <h4 class="panel-title">Entidades identificadas</h4></br>
                <ul class="nav nav-tabs nav-primary">
                  <li class="active"><a data-toggle="tab" href="#locations">Lugares</a></li>
                  <li><a data-toggle="tab" href="#artists">Artistas</a></li>
                  <li><a data-toggle="tab" href="#persons">Personas</a></li>
                  <li><a data-toggle="tab" href="#organizations">Organizaciones</a></li>
                </ul>
                <div class="tab-content">
                  <div id="artists" class="tab-pane fade">
                    <h3>Artistas</h3>
                    <ul class="media-list user-list" id="artists_container">
                    </ul>
                  </div>
                  <div id="persons" class="tab-pane fade">
                    <h3>Personas</h3>
                    <ul class="media-list user-list" id="persons_container">
                    </ul>
                  </div>
                  <div id="organizations" class="tab-pane fade">
                    <h3>Organizaciones</h3>
                    <ul class="media-list user-list" id="organizations_container">
                    </ul>
                  </div>
                  <div id="locations" class="tab-pane fade in active">
                    <h3>Lugares</h3>
                    <div id="mapid" style="height: 400px;"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="{{topic_id}}" id="topic_id">

<div class="modal fade" id="tweets-personas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tweets Relacionados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="tweets-persons-container"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="anterior_personas"><i class="fa fa-angle-left"></i> Anterior</button>
        <button type="button" class="btn btn-secondary" id="siguiente_personas">Siguiente <i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tweets-organizaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tweets Relacionados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="tweets-organizaciones-container"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="anterior_organizaciones"><i class="fa fa-angle-left"></i> Anterior</button>
        <button type="button" class="btn btn-secondary" id="siguiente_organizaciones">Siguiente <i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tweets-artistas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tweets Relacionados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="tweets-artistas-container"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="anterior_artistas"><i class="fa fa-angle-left"></i> Anterior</button>
        <button type="button" class="btn btn-secondary" id="siguiente_artistas">Siguiente <i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static "dashboard/lib/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "dashboard/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" %}"></script>
<script src="{% static "dashboard/lib/morrisjs/morris.js" %}"></script>
<script src="{% static "dashboard/lib/raphael/raphael.js" %}"></script>
<script>
$(document).ready(function() {
  'use strict';

  //personas
  var start_persons = 0;
  var id_person = "";

  var cargar_tweets_personas = function(){
    $.get('/tweets/search/?query=' + id_person + '&start=' + start_persons + '&limit=10', function(data){
      $("#tweets-persons-container").html('');
      data.forEach(function(tweet){
        var tweet_content = "<li class='media col-sm-6' style='height: 150px;'>\
          <div class='media-body'>\
            <h4 class='media-heading nomargin'><a target='_blank' href='https://twitter.com/" + tweet.account[0] + "/status/" + tweet.ref_id[0] + "'>" + tweet.account[0] +"</a></h4>\
            <p>" + tweet.payload[0] + "</p>\
          </div>\
        </li>";
        $("#tweets-persons-container").append(tweet_content);
      });

      $('#tweets-personas').modal();
    });
  }

  $("#anterior_personas").on('click', function(){
    if(start_persons!=0){
      start_persons -= 10;
      cargar_tweets_personas();
    }
  });
  $("#siguiente_personas").on('click', function(){
    start_persons += 10;
    cargar_tweets_personas();
  });

  //organizaciones
  var start_organizaciones = 0;
  var id_organizacion = "";

  var cargar_tweets_organizaciones = function(){
    $.get('/tweets/search/?query=' + id_organizacion + '&start=' + start_organizaciones + '&limit=10', function(data){
      $("#tweets-organizaciones-container").html('');
      data.forEach(function(tweet){
        var tweet_content = "<li class='media col-sm-6' style='height: 150px;'>\
          <div class='media-body'>\
            <h4 class='media-heading nomargin'><a target='_blank' href='https://twitter.com/" + tweet.account[0] + "/status/" + tweet.ref_id[0] + "'>" + tweet.account[0] +"</a></h4>\
            <p>" + tweet.payload[0] + "</p>\
          </div>\
        </li>";
        $("#tweets-organizaciones-container").append(tweet_content);
      });

      $('#tweets-organizaciones').modal();
    });
  }

  $("#anterior_organizaciones").on('click', function(){
    if(start_organizations!=0){
      start_organizaciones -= 10;
      cargar_tweets_organizaciones();
    }
  });
  $("#siguiente_organizaciones").on('click', function(){
    start_organizaciones += 10;
    cargar_tweets_organizaciones();
  });

  //artistas
  var start_artistas = 0;
  var id_artista = "";

  var cargar_tweets_artistas = function(){
    $.get('/tweets/search/?query=' + id_artista + '&start=' + start_artistas + '&limit=10', function(data){
      $("#tweets-artistas-container").html('');
      data.forEach(function(tweet){
        var tweet_content = "<li class='media col-sm-6' style='height: 150px;'>\
          <div class='media-body'>\
            <h4 class='media-heading nomargin'><a target='_blank' href='https://twitter.com/" + tweet.account[0] + "/status/" + tweet.ref_id[0] + "'>" + tweet.account[0] +"</a></h4>\
            <p>" + tweet.payload[0] + "</p>\
          </div>\
        </li>";
        $("#tweets-artistas-container").append(tweet_content);
      });

      $('#tweets-artistas').modal();
    });
  }

  $("#anterior_artistas").on('click', function(){
    if(start_artistas!=0){
      start_artistas -= 10;
      cargar_tweets_artistas();
    }
  });
  $("#siguiente_artistas").on('click', function(){
    start_artistas += 10;
    cargar_tweets_artistas();
  });

  var map = L.map('mapid').setView([4.5048522, -75.8060487 ], 3);

  var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/josedeweb/cj9a1i07g2z8m2smvx2ttqcml/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoiam9zZWRld2ViIiwiYSI6ImxKbzA2OUkifQ.pd8n2FOQbRduWCgc02gSWQ', {
      attribution: 'Taller 4 - Bigdata &copy Uniandes',
      maxZoom: 18
  }).addTo(map);

  $.get('/locations_ent?topic_id='+$("#topic_id").val(), function(data){
    data.forEach(function(location){
      // var latlngs = [[37, -109.05],[41, -109.03],[41, -102.05],[37, -102.04]];
      var latlngs = [];
      location.data.coordinates.forEach(function(coords){
        latlngs.push([parseInt(coords.lon), parseInt(coords.lat)]);
      });
      var polygon = L.polygon(latlngs).addTo(map);
      map.fitBounds(polygon.getBounds());
    });
  });

  $('#dataTable1').DataTable({"order": [[ 1, "desc" ]]});

  $.get('/persons?topic_id='+$("#topic_id").val(), function(data){
    $("#persons_container").html('');
    data.forEach(function(user){
      var person_profile = "<li class='media col-sm-4'>\
        <div class='media-body'>\
          <h4 class='media-heading nomargin'><a target='_blank' href='" + user.data.page + "'>" + user.data.name +"</a></h4>";
          if(user.data.gender) person_profile += "Sexo: <span>" + user.data.gender + "</span><br>";
          if(user.source) person_profile += "Fuente: <span>" + user.source +"</span><br>";
          if(user.data.occupations.length>0) person_profile += "Ocupaciones: <span>" + user.data.occupations + "</span><br>";
          if(user.data.genre.length>0) person_profile += "Géneros: <span>" + user.data.genre + "</span><br>";
          if(user.data.birthplace) person_profile += "Lugar de nacimiento: <span>" + user.data.birthplace + "</span><br>";
          if(user.data.birthdate) person_profile += "Fecha de nacimiento: <span>" + user.data.birthdate + "</span><br>";
          if(user.data.deathplace) person_profile += "Lugar de muerte: <span>" + user.data.deathplace + "</span><br>";
          if(user.data.deathdate) person_profile += "Fecha de muerte: <span>" + user.data.deathdate + "</span><br>";
        person_profile += "<br><button id='" + user.data.name.split(' ').join('+') + "' type='button' class='btn btn-primary btn-tweets-personas' data-toggle='modal'>Ver Tweets</button></div></li>";

      $("#persons_container").append(person_profile);
    });

    $('.btn-tweets-personas').click(function(){
      id_person = $(this).attr('id');
      start_persons = 0;
      cargar_tweets_personas();
    });
  });

  $.get('/organizations?topic_id='+$("#topic_id").val(), function(data){
    $("#organizations_container").html('');
    data.forEach(function(organization){
      var organization_profile = "<li class='media col-sm-12'>\
        <div class='media-body'>\
          <h4 class='media-heading nomargin'><a target='_blank' href='" + organization.data.page + "'>" + organization.data.name + " - " +organization.data.fullname +"</a></h4>";
          if(organization.data.type) organization_profile += "Tipo: <span>" + organization.data.type + "</span><br>";
          if(organization.data.country) organization_profile += "País: <span>" + organization.data.country + "</span><br>";
          if(organization.data.abstract) organization_profile += "Abstract: <span>" + organization.data.abstract + "</span><br>";
          if(organization.data.services) organization_profile += "Servicios: <span>" + organization.data.services + "</span><br>";
          if(organization.data.places) organization_profile += "Lugares: <span>" + organization.data.places + "</span><br>";
          if(organization.data.persons) organization_profile += "Personas: <span>" + organization.data.persons + "</span><br>";
          if(organization.data.persons) organization_profile += "Personas: <span>" + organization.data.persons + "</span><br>";
          organization_profile += "<br><button id='" + organization.data.name.split(' ').join('+') + "' type='button' class='btn btn-primary btn-tweets-organizaciones' data-toggle='modal'>Ver Tweets</button></div></li>";
        organization_profile += "</div></li>";
      $("#organizations_container").append(organization_profile);

      $('.btn-tweets-organizaciones').click(function(){
        id_organizacion = $(this).attr('id');
        start_organizaciones = 0;
        cargar_tweets_organizaciones();
      });
    });
  });

  $.get('/persons_spotify?topic_id='+$("#topic_id").val(), function(data){
    $("#artists_container").html('');
    data.forEach(function(artist){
      var artist_profile = "<li class='media col-sm-12'>\
      <div class='media-left'>\
        <a href='#'>\
          <img class='media-object img-circle' src='" + artist.images[0] + "' alt=''>\
        </a>\
      </div>\
        <div class='media-body'>\
          <h4 class='media-heading nomargin'><a target='_blank' href='" + artist.url + "'>" + artist.name +"</a></h4>\
          Seguidores: <span>" + artist.followers + "</span><br>\
          Popularidad: <span>" + artist.popularity + "</span><br>\
          Géneros: <span>" + artist.genres + "</span><br><h4>Albumes:</h4>";
      artist.albums.forEach(function(album){
        artist_profile += "<a class='album' href="+album.url+" target='_blank'><img class='media-object img-circle' src='" + album.images[0].url + "' alt=''>";
        artist_profile += "<span>" + album.name + "</span></a>";
      });
      artist_profile += "<br/><br/><button id='" + artist.name.split(' ').join('+') + "' type='button' class='btn btn-primary btn-tweets-artistas' data-toggle='modal'>Ver Tweets</button></div></li>";
      artist_profile += "</div></li>";
      $("#artists_container").append(artist_profile);

      $('.btn-tweets-artistas').click(function(){
        id_artista = $(this).attr('id');
        start_artistas = 0;
        cargar_tweets_artistas();
      });
    });
  });
});
</script>
{% endblock %}
