{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static "dashboard/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}">
{% endblock %}

{% block main %}
<div class="contentpanel">

  <ol class="breadcrumb breadcrumb-quirk">
    <li><a href="{% url 'index'%}"><i class="fa fa-home mr5"></i> Dashboard</a></li>
    <li class="active">Listado de Temas Musicfans</li>
  </ol>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">Listado Completo de Temas</h4>
      <p>Se realizó la extracción de fuentes RSS del portal Musicfans.</p>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="dataTable1" class="table table-bordered table-striped-col">
          <thead>
            <tr>
              <th>Título</th>
              <th>Fecha Publicación</th>
              <th>Autor</th>
              <th>Respuestas</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Título</th>
              <th>Fecha Publicación</th>
              <th>Autor</th>
              <th>Respuestas</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            {% for topic in topics %}
            <tr>
              <td>{{topic.title}}</td>
              <td>{{topic.pubdate}}</td>
              <td>{{topic.author}}</td>
              <td>{{topic.responses|length}}</td>
              <td><a href="{% url 'topic-detail-view' topic.id %}" class="btn btn-success">Ver Detalle</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static "dashboard/lib/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "dashboard/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" %}"></script>
<script>
$(document).ready(function() {
  'use strict';
  $('#dataTable1').DataTable({"order": [[ 1, "desc" ]]});
});
</script>
{% endblock %}
